<html>
<body>

  <div style="position:fixed; bottom: 0; left: 0;">
 
  </div>
  <h2><%= message%></h2>
  <% if success %>
  <h1> <center>thank you for taking the survey!</center></h1>
  <div class="jumbotron">
    <p>
      <%= survey_data[:employability] %>
    </p>

    <p>
      <%= survey_data[:nationality] %>
    </p>

    <p>
      <%= survey_data[:income] %>
    </p>

    <p>
      <%= survey_data[:email] %>
    </p>
  </div>
    
<% end %>
<a href="/"> Go back to the homepage </a>




</body>
</html>