<html>
<body>

  <div style="position:fixed; bottom: 0; left: 0;">
    Thanks for visiting the site! <%= visit_count %>
  </div>
  <h1> <center>thank you for taking the survey!</center></h1>
  <div class="jumbotron">
    <p>
      <%= employability %>
    </p>

    <p>
      <%= nationality %>
    </p>

    <p>
      <%= income %>
    </p>

    <p>
      <%= email %>
    </p>
  </div>






</body>
</html>